body {
    font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    position: relative;
    width: 100%;
    height: 100%;
    color: white;
    background-color: black; }

html {
    width: 100%;
    height: 100%; }

.masthead {
    display: table;
    width: 100%;
    height: auto;
    padding: 200px 0;
    margin-bottom: 20px;
    text-align: center;
    color: white; }

.backChampMars{

    background: url("../img/champMars.JPG") no-repeat bottom center scroll;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


select, input{
    color: black;
}

